body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Trebuchet MS", sans-serif;
    overflow: auto;
}
body > div {
    margin: 20px;
}
#input {
    min-width: 210px;
    height: auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}
input[type="range"] {
    cursor: ew-resize;
    accent-color: black;
}
select,
input#hex,
input[type="number"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    background-color: #fff;
}
input#hex,
input[type="number"] {
    width: 40px;
}
select:focus,
input#hex:focus,
input[type="number"]:focus {
    border: 1px solid #bbb;
    outline: 0;
}
input#hex {
    width: 60px;
}
label {
    font-weight: bold;
}
label:has(#hex:valid)::after {
    content: "✓";
    color: green;
    font-weight: 900;
    position: relative;
    left: 3px;
    top: 3px;
}
label:has(#hex:invalid)::after {
    content: "✗";
    color: red;
    font-weight: normal;
    position: relative;
    left: 3px;
    top: 3px;
}
.color-palate {
    display: none;
}
p {
    margin: 0;
    text-align: center;
    font-size: 1.75rem;
}
p.show-color {
    display: flex;
    overflow: hidden;
    width: 500px;
    border: 1px solid #ddd;
    padding: 0px;
    border-radius: 10px;
    margin: 10px 0;
}
p.show-color span {
    flex: 1;
    display: inline-block;
    line-height: 60px;
    font-size: 1rem;
    text-align: center;
}
.align-center {
    text-align: center;
}
